
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <td>Titulo</td>
                <td>Resumo</td>
                <td>Categoria</td>
            </tr>
        </thead>
        <tbody>
            @foreach(var p in ViewBag.Posts)
            {
                <tr>
                    <td>@p.Titulo</td>
                    <td>@p.Resumo</td>
                    <td>@p.Categoria</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
