
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Novo</title>
</head>
<body>
    <form action="/post/adiciona" method="post">
        <label>
            Titulo: <input name="titulo" />
        </label>
        <label>
            Resumo: <input name="resumo" />
        </label>
        <label>
            Categoria: <input name="categoria" />
        </label>
        <button type="submit">Salvar</button>
    </form>
</body>
</html>
